.layout{
    height: 100%;
    .layout_header{
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: bold;
        .layout_header__logo{
        
        }
        .layout_header__menu{
            line-height: 50px;
            .ant-menu-item-selected{
                background: inherit;
                color:rgb(13, 170, 226) ;
            }
        }
        .layout_header__icon{
            margin-left: 20px;
            margin-right: 5px;
        }
    }
    .ant-layout-header{
        height: 50px;
        line-height: 50px;
    }
    .layout_content{
        .layout_content__bread{
            margin-left: 20px;
            .ant-breadcrumb > span:last-child a{
                color: #0DAAE2;
            }
        }
        .layout_content__body{
            height: 100%;
            background: #fff;
            padding: 20px;
            overflow: auto;
        }
    }
}

